@import "tailwindcss";

@theme {
  --color-bg: black;
  --color-text: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('/version_1_wallper.png') center/cover no-repeat;
  opacity: 0.3;
  z-index: -1;
}
